.App {
  text-align: center;
}
 

html {
  display:flex;
  justify-content:center;
  margin-top:3%;
  background-color:rgb(245,245,245);
  margin-bottom:30%;
}


#headerh3 {
 display:flex;
 justify-content: center;
 font-family: Kristen ITC;
 font-size:35px;
}

#displayAppId {
    display:flex;
    justify-content: center;
    flex-direction:column;

}

#mainDiv {
  display:flex;
  justify-content: center;
  flex-direction:column;
  padding:5%;
}

/*#bodyDiv {
   margin-bottom:45%;
}*/

form > label   {
  font-weight:700;
  font-family: Rockwell;
  padding-bottom:0.5%;
  padding-top:1%;
  padding-left:0.5%;
}

  form input {
  font-style:italic!important;
  padding-left:1.5%;
}

input[type='checkbox'] {
  margin-left:1.5%;
}




#specLab {
  flex-wrap: wrap;
  background-color:rgb(224,224,224);
  margin: 1.5% 0;
}

#specLab > label {
  display:block;

}


#modalbtn {
  margin-top:5%;
}